log/*
temp/*
vendor/*
!.gitignore
!.htaccess
!web.config
!/vendor/composer/
!/vendor/bin/
!/vendor/o5/
!/vendor/autoload.php
!/vendor/latte/
!/vendor/nette/
!/vendor/symfony/
!/vendor/tracy/
!/vendor/