{* Latte template *}

{block content}
<h3>Zoznam členov združenia</h3>
<table class="table table-striped">
    {foreach $records as $record}
        <tr><td>{$record -> priezvisko}</td></tr>    
    {/foreach}
</table>