{layout '@login_layout.latte'}
{block content}
<h1 n:block=title>Prihlásenie</h1>

{control signInForm}

{* or use {include '../components/form.latte', form => signInForm} *}

<h1><a n:href="Sign:registration">Zaregistruj nové združenie</a></h1>

